In [22]:
import sqlite3 as lite
import pandas as pd

In [23]:
db = lite.connect('/Users/jonghobaeck/Documents/dses/TIL/SQL/190105/products.db')

In [10]:
query = '''
SELECT * FROM orders
'''
pd.read_sql(query,db).head()

   OrderID  CustomerID  EmployeeID   OrderDate  ShipperID
0    10248          90           5  1996-07-04          3
1    10249          81           6  1996-07-05          1
2    10250          34           4  1996-07-08          2
3    10251          84           3  1996-07-08          1
4    10252          76           4  1996-07-09          2

In [11]:
query = """
SELECT name, sql
FROM sqlite_master
"""
pd.read_sql(query, db)

           name                                                sql
0    Categories  CREATE TABLE Categories(\n  "CategoryID" TEXT,...
1     Customers  CREATE TABLE Customers(\n  "CustomerID" TEXT,\...
2     Employees  CREATE TABLE Employees(\n  "EmployeeID" TEXT,\...
3      Shippers  CREATE TABLE Shippers(\n  "ShipperID" TEXT,\n ...
4     Suppliers  CREATE TABLE Suppliers(\n  "SupplierID" TEXT,\...
5        Orders  CREATE TABLE Orders(\nOrderID integer,\nCustom...
6  OrderDetails  CREATE TABLE OrderDetails(\nOrderDetailID inte...
7      Products  CREATE TABLE Products(\nProductID integer,\nPr...

## Homework Review
OrderDetails에서 Quantity가 40개 이상이며, Customers의 CustomerName이 Ernst나 Stop을 포함하는 전체 데이터를 선택하세요.

In [13]:
pd.options.display.max_colwidth = 200

In [47]:
query = '''
SELECT *
FROM Orders
WHERE
    OrderID IN(
        SELECT OrderID
        FROM OrderDetails
        WHERE
            Quantity >= 40
    )
    AND
    CustomerID IN(
        SELECT CustomerID
        FROM
            Customers
        WHERE
            CustomerName LIKE '%Ernst%'
            OR
            CustomerName LIKE '%Stop%'
    )
;
'''

pd.read_sql(query,db)

    OrderID  CustomerID  EmployeeID   OrderDate  ShipperID
0     10258          20           1  1996-07-17          1
1     10263          20           9  1996-07-23          3
2     10273          63           3  1996-08-05          3
3     10285          63           1  1996-08-20          2
4     10286          63           8  1996-08-21          3
5     10345          63           2  1996-11-04          2
6     10351          20           1  1996-11-11          1
7     10361          63           1  1996-11-22          2
8     10382          20           4  1996-12-13          1
9     10390          20           6  1996-12-23          1
10    10402          20           8  1997-01-02          2
11    10403          20           4  1997-01-03          3
12    10418          63           4  1997-01-17          1
13    10430          20           4  1997-01-30          1
14    10442          20           3  1997-02-11          2

# Today I Learned - 190109

In [33]:
query='''
SELECT * FROM Products
'''
products_df = pd.read_sql(query, db)
#how to sort in Jupyter. ascending is True in default
products_df.sort_values('ProductName', ascending=False).head()

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
46,47,Zaanse koeken,22,3,10 - 4 oz boxes,9.50
63,64,Wimmers gute Semmelknödel,12,5,20 bags x 4 pieces,33.25
62,63,Vegie-spread,7,2,15 - 625 g jars,43.90
49,50,Valkoinen suklaa,23,3,12 - 100 g bars,16.25
6,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30.00

In [32]:
query = '''
SELECT * FROM Products
ORDER BY ProductName;
'''
pd.read_sql(query, db)

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,17,Alice Mutton,7,6,20 - 1 kg tins,39.00
1,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00
2,40,Boston Crab Meat,19,8,24 - 4 oz tins,18.40
3,60,Camembert Pierrot,28,4,15 - 300 g rounds,34.00
4,18,Carnarvon Tigers,7,8,16 kg pkg.,62.50
5,1,Chais,1,1,10 boxes x 20 bags,18.00
6,2,Chang,1,1,24 - 12 oz bottles,19.00
7,39,Chartreuse verte,18,1,750 cc per bottle,18.00
8,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00
9,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35
10,48,Chocolade,22,3,10 pkgs.,12.75
11,38,Côte de Blaye,18,1,12 - 75 cl bottles,263.50
12,58,Escargots de Bourgogne,27,8,24 pieces,13.25
13,52,Filo Mix,24,5,16 - 2 kg boxes,7.00
14,71,Fløtemysost,15,4,10 - 500 g pkgs.,21.50
15,33,Geitost,15,4,500 g,2.50
16,15,Genen Shouyu,6,2,24 - 250 ml bottles,15.50
17,56,Gnocchi di nonna Alice,26,5,24 - 250 g pkgs.,38.00
18,31,Gorgonzola Telino,14,4,12 - 100 g pkgs,12.50
19,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25.00
20,37,Gravad lax,17,8,12 - 500 g pkgs.,26.00
21,24,Guaraná Fantástica,10,1,12 - 355 ml cans,4.50
22,69,Gudbrandsdalsost,15,4,10 kg pkg.,36.00
23,44,Gula Malacca,20,2,20 - 2 kg bags,19.45
24,26,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
25,22,Gustaf's Knäckebröd,9,5,24 - 500 g pkgs.,21.00
26,10,Ikura,4,8,12 - 200 ml jars,31.00
27,36,Inlagd Sill,17,8,24 - 250 g jars,19.00
28,43,Ipoh Coffee,20,1,16 - 500 g tins,46.00
29,41,Jack's New England Clam Chowder,19,8,12 - 12 oz cans,9.65
...,...,...,...,...,...,...
47,53,Perth Pasties,24,6,48 pieces,32.80
48,55,Pâté chinois,25,6,24 boxes x 2 pies,24.00
49,11,Queso Cabrales,5,4,1 kg pkg.,21.00
50,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38.00
51,59,Raclette Courdavault,28,4,5 kg pkg.,55.00
52,57,Ravioli Angelo,26,5,24 - 250 g pkgs.,19.50
53,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75
54,73,Röd Kaviar,17,8,24 - 150 g jars,15.00
55,28,Rössle Sauerkraut,12,7,25 - 825 g cans,45.60
56,45,Røgede sild,21,8,1k pkg.,9.50
57,34,Sasquatch Ale,16,1,24 - 12 oz bottles,14.00
58,27,Schoggi Schokolade,11,3,100 - 100 g pieces,43.90
59,68,Scottish Longbreads,8,3,10 boxes x 8 pieces,12.50
60,42,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14.00
61,20,Sir Rodney's Marmalade,8,3,30 gift boxes,81.00
62,21,Sir Rodney's Scones,8,3,24 pkgs. x 4 pieces,10.00
63,61,Sirop d'érable,29,2,24 - 500 ml bottles,28.50
64,46,Spegesild,21,8,4 - 450 g glasses,12.00
65,35,Steeleye Stout,16,1,24 - 12 oz bottles,18.00
66,62,Tarte au sucre,29,3,48 pies,49.30
67,19,Teatime Chocolate Biscuits,8,3,10 boxes x 12 pieces,9.20
68,29,Thüringer Rostbratwurst,12,6,50 bags x 30 sausgs.,123.79
69,14,Tofu,6,7,40 - 100 g pkgs.,23.25
70,54,Tourtière,25,6,16 pies,7.45
71,23,Tunnbröd,9,5,12 - 250 g pkgs.,9.00
72,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30.00
73,50,Valkoinen suklaa,23,3,12 - 100 g bars,16.25
74,63,Vegie-spread,7,2,15 - 625 g jars,43.90
75,64,Wimmers gute Semmelknödel,12,5,20 bags x 4 pieces,33.25
76,47,Zaanse koeken,22,3,10 - 4 oz boxes,9.50

## Join in Pandas

In [46]:
query_order = '''
SELECT *
FROM OrderDetails;
'''
orderDetails_df = pd.read_sql(query_order, db)
orderDetails_df.head()

   OrderDetailID  OrderID  ProductID  Quantity
0              1    10248         11        12
1              2    10248         42        10
2              3    10248         72         5
3              4    10249         14         9
4              5    10249         51        40

In [45]:
orderDetails_df.merge(products_df, on='ProductID')

,OrderDetailID,OrderID,ProductID,Quantity,ProductName,SupplierID,CategoryID,Unit,Price
0,1,10248,11,12,Queso Cabrales,5,4,1 kg pkg.,21.00
1,130,10296,11,12,Queso Cabrales,5,4,1 kg pkg.,21.00
2,211,10327,11,50,Queso Cabrales,5,4,1 kg pkg.,21.00
3,281,10353,11,12,Queso Cabrales,5,4,1 kg pkg.,21.00
4,314,10365,11,24,Queso Cabrales,5,4,1 kg pkg.,21.00
5,426,10407,11,30,Queso Cabrales,5,4,1 kg pkg.,21.00
6,492,10434,11,6,Queso Cabrales,5,4,1 kg pkg.,21.00
7,514,10442,11,30,Queso Cabrales,5,4,1 kg pkg.,21.00
8,517,10443,11,6,Queso Cabrales,5,4,1 kg pkg.,21.00
9,2,10248,42,10,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14.00
10,166,10309,42,2,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14.00
11,171,10311,42,6,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14.00
12,225,10332,42,10,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14.00
13,263,10345,42,9,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14.00
14,418,10404,42,40,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14.00
15,3,10248,72,5,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
16,57,10268,72,4,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
17,59,10269,72,20,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
18,65,10272,72,24,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
19,72,10274,72,7,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
20,95,10283,72,3,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
21,134,10297,72,20,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
22,206,10325,72,40,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
23,222,10330,72,25,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
24,241,10337,72,25,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
25,334,10372,72,42,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
26,382,10390,72,24,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
27,397,10396,72,21,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
28,496,10435,72,10,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
29,4,10249,14,9,Tofu,6,7,40 - 100 g pkgs.,23.25
...,...,...,...,...,...,...,...,...,...
488,282,10353,38,50,Côte de Blaye,18,1,12 - 75 cl bottles,263.50
489,301,10360,38,10,Côte de Blaye,18,1,12 - 75 cl bottles,263.50
490,332,10372,38,40,Côte de Blaye,18,1,12 - 75 cl bottles,263.50
491,450,10417,38,50,Côte de Blaye,18,1,12 - 75 cl bottles,263.50
492,472,10424,38,49,Côte de Blaye,18,1,12 - 75 cl bottles,263.50
493,221,10330,26,50,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
494,238,10337,26,24,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
495,291,10357,26,16,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
496,388,10393,26,70,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
497,417,10404,26,30,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
498,465,10421,26,30,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
499,468,10422,26,2,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
500,489,10432,26,10,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
501,226,10332,47,16,Zaanse koeken,22,3,10 - 4 oz boxes,9.50
502,455,10418,47,55,Zaanse koeken,22,3,10 - 4 oz boxes,9.50
503,488,10431,47,30,Zaanse koeken,22,3,10 - 4 oz boxes,9.50
504,237,10337,23,40,Tunnbröd,9,5,12 - 250 g pkgs.,9.00
505,271,10348,23,25,Tunnbröd,9,5,12 - 250 g pkgs.,9.00
506,395,10396,23,40,Tunnbröd,9,5,12 - 250 g pkgs.,9.00
507,413,10402,23,60,Tunnbröd,9,5,12 - 250 g pkgs.,9.00
508,260,10344,8,70,Northwoods Cranberry Sauce,3,2,12 - 12 oz jars,40.00
509,261,10345,8,70,Northwoods Cranberry Sauce,3,2,12 - 12 oz jars,40.00
510,273,10350,50,15,Valkoinen suklaa,23,3,12 - 100 g bars,16.25
511,359,10383,50,15,Valkoinen suklaa,23,3,12 - 100 g bars,16.25
512,480,10429,50,40,Valkoinen suklaa,23,3,12 - 100 g bars,16.25
513,372,10388,45,15,Røgede sild,21,8,1k pkg.,9.50
514,416,10403,48,70,Chocolade,22,3,10 pkgs.,12.75
515,456,10418,61,16,Sirop d'érable,29,2,24 - 500 ml bottles,28.50
516,512,10440,61,90,Sirop d'érable,29,2,24 - 500 ml bottles,28.50
517,460,10420,9,20,Mishi Kobe Niku,4,6,18 - 500 g pkgs.,97.00

In [50]:
#아직까지는 JOIN하지 않은 query
query = '''
SELECT C.CustomerID, C.CustomerName, O.CustomerID, O.OrderID
FROM
    Customers C, Orders O
WHERE
    C.CustomerID = O.CustomerID
;
'''
pd.read_sql(query, db)

     CustomerID                        CustomerName  CustomerID  OrderID
0             2  Ana Trujillo Emparedados y helados           2    10308
1             3             Antonio Moreno Taquería           3    10365
2             4                     Around the Horn           4    10355
3             4                     Around the Horn           4    10383
4             5                  Berglunds snabbköp           5    10278
5             5                  Berglunds snabbköp           5    10280
6             5                  Berglunds snabbköp           5    10384
7             7                Blondel père et fils           7    10265
8             7                Blondel père et fils           7    10297
9             7                Blondel père et fils           7    10360
10            7                Blondel père et fils           7    10436
11            8           Bólido Comidas preparadas           8    10326
12            9                            Bon app'           9    10331
13            9                            Bon app'           9    10340
14            9                            Bon app'           9    10362
15           10              Bottom-Dollar Marketse          10    10389
16           10              Bottom-Dollar Marketse          10    10410
17           10              Bottom-Dollar Marketse          10    10411
18           10              Bottom-Dollar Marketse          10    10431
19           11                       B's Beverages          11    10289
20           13          Centro comercial Moctezuma          13    10259
21           14                   Chop-suey Chinese          14    10254
22           14                   Chop-suey Chinese          14    10370
23           15                    Comércio Mineiro          15    10290
24           16               Consolidated Holdings          16    10435
25           17           Drachenblut Delikatessend          17    10363
26           17           Drachenblut Delikatessend          17    10391
27           18                     Du monde entier          18    10311
28           19                  Eastern Connection          19    10364
29           19                  Eastern Connection          19    10400
..          ...                                 ...         ...      ...
166          79                  Toms Spezialitäten          79    10438
167          80                 Tortuga Restaurante          80    10276
168          80                 Tortuga Restaurante          80    10293
169          80                 Tortuga Restaurante          80    10304
170          80                 Tortuga Restaurante          80    10319
171          81              Tradição Hipermercados          81    10249
172          81              Tradição Hipermercados          81    10292
173          83                        Vaffeljernet          83    10367
174          83                        Vaffeljernet          83    10399
175          84                Victuailles en stock          84    10251
176          84                Victuailles en stock          84    10334
177          85           Vins et alcools Chevalier          85    10274
178          85           Vins et alcools Chevalier          85    10295
179          86                   Die Wandernde Kuh          86    10301
180          86                   Die Wandernde Kuh          86    10312
181          86                   Die Wandernde Kuh          86    10348
182          86                   Die Wandernde Kuh          86    10356
183          87                      Wartian Herkku          87    10266
184          87                      Wartian Herkku          87    10270
185          87                      Wartian Herkku          87    10320
186          87                      Wartian Herkku          87    10333
187          87                      Wartian Herkku          87    10412
188          87                      Wartian Herkku          87    10416
189          87                      Wartian Herkku          87    10437
190          88              Wellington Importadora          88    10256
191          88              Wellington Importadora          88    10420
192          89                White Clover Markets          89    10269
193          89                White Clover Markets          89    10344
194          90                         Wilman Kala          90    10248
195          91                              Wolski          91    10374

[196 rows x 4 columns]

In [54]:
query = '''
SELECT C.CustomerID, C.CustomerName, O.CustomerID, O.OrderID
FROM Customers C
    JOIN
        Orders O
    ON
        C.CustomerID = O.customerID
;
'''
#JOIN은 기본이 INNER JOIN이다.
pd.read_sql(query, db)

     CustomerID                        CustomerName  CustomerID  OrderID
0             2  Ana Trujillo Emparedados y helados           2    10308
1             3             Antonio Moreno Taquería           3    10365
2             4                     Around the Horn           4    10355
3             4                     Around the Horn           4    10383
4             5                  Berglunds snabbköp           5    10278
5             5                  Berglunds snabbköp           5    10280
6             5                  Berglunds snabbköp           5    10384
7             7                Blondel père et fils           7    10265
8             7                Blondel père et fils           7    10297
9             7                Blondel père et fils           7    10360
10            7                Blondel père et fils           7    10436
11            8           Bólido Comidas preparadas           8    10326
12            9                            Bon app'           9    10331
13            9                            Bon app'           9    10340
14            9                            Bon app'           9    10362
15           10              Bottom-Dollar Marketse          10    10389
16           10              Bottom-Dollar Marketse          10    10410
17           10              Bottom-Dollar Marketse          10    10411
18           10              Bottom-Dollar Marketse          10    10431
19           11                       B's Beverages          11    10289
20           13          Centro comercial Moctezuma          13    10259
21           14                   Chop-suey Chinese          14    10254
22           14                   Chop-suey Chinese          14    10370
23           15                    Comércio Mineiro          15    10290
24           16               Consolidated Holdings          16    10435
25           17           Drachenblut Delikatessend          17    10363
26           17           Drachenblut Delikatessend          17    10391
27           18                     Du monde entier          18    10311
28           19                  Eastern Connection          19    10364
29           19                  Eastern Connection          19    10400
..          ...                                 ...         ...      ...
166          79                  Toms Spezialitäten          79    10438
167          80                 Tortuga Restaurante          80    10276
168          80                 Tortuga Restaurante          80    10293
169          80                 Tortuga Restaurante          80    10304
170          80                 Tortuga Restaurante          80    10319
171          81              Tradição Hipermercados          81    10249
172          81              Tradição Hipermercados          81    10292
173          83                        Vaffeljernet          83    10367
174          83                        Vaffeljernet          83    10399
175          84                Victuailles en stock          84    10251
176          84                Victuailles en stock          84    10334
177          85           Vins et alcools Chevalier          85    10274
178          85           Vins et alcools Chevalier          85    10295
179          86                   Die Wandernde Kuh          86    10301
180          86                   Die Wandernde Kuh          86    10312
181          86                   Die Wandernde Kuh          86    10348
182          86                   Die Wandernde Kuh          86    10356
183          87                      Wartian Herkku          87    10266
184          87                      Wartian Herkku          87    10270
185          87                      Wartian Herkku          87    10320
186          87                      Wartian Herkku          87    10333
187          87                      Wartian Herkku          87    10412
188          87                      Wartian Herkku          87    10416
189          87                      Wartian Herkku          87    10437
190          88              Wellington Importadora          88    10256
191          88              Wellington Importadora          88    10420
192          89                White Clover Markets          89    10269
193          89                White Clover Markets          89    10344
194          90                         Wilman Kala          90    10248
195          91                              Wolski          91    10374

[196 rows x 4 columns]

In [59]:
#Orders
#  OrderID => OrderDetails
#  CustomerID => Customers
#  EmployeeID => Employees
#  ShipperID => Shippers

query = '''
SELECT *
FROM
    Orders O
    JOIN
        OrderDetails D
    ON
      O.OrderID = D.OrderID
    JOIN
        Customers C
    ON
        O.CustomerID = C.CustomerID
    JOIN
        Employees E
    ON
        O.EmployeeID = E.EmployeeID
;
'''
len(pd.read_sql(query, db))

518

In [ ]:
#스크래핑 결과를 디비에 일머넣기
for item in results:
    query = '''
    INSERT INTO movies
    VALUES({id}, {name}, {url})
    ;
    '''.format(id=item[0], name=item[1], url=item[2])
    pd.read_sql(query, db)

## Sum Query

In [60]:
query = '''
SELECT sum(Price)
FROM
    Products;
'''
pd.read_sql(query, db)

   sum(Price)
0     2222.71

## Group By Query

In [62]:
query = '''
SELECT *
FROM Orders;
'''
orders_df = pd.read_sql(query, db)
orders_df.head()

   OrderID  CustomerID  EmployeeID   OrderDate  ShipperID
0    10248          90           5  1996-07-04          3
1    10249          81           6  1996-07-05          1
2    10250          34           4  1996-07-08          2
3    10251          84           3  1996-07-08          1
4    10252          76           4  1996-07-09          2

In [66]:
#Using Pandas
date_group = orders_df.groupby('OrderDate')
date_group.get_group('1996-07-04')

   OrderID  CustomerID  EmployeeID   OrderDate  ShipperID
0    10248          90           5  1996-07-04          3

In [67]:
orders_df['OrderDate'].unique()

array(['1996-07-04', '1996-07-05', '1996-07-08', '1996-07-09',
       '1996-07-10', '1996-07-11', '1996-07-12', '1996-07-15',
       '1996-07-16', '1996-07-17', '1996-07-18', '1996-07-19',
       '1996-07-22', '1996-07-23', '1996-07-24', '1996-07-25',
       '1996-07-26', '1996-07-29', '1996-07-30', '1996-07-31',
       '1996-08-01', '1996-08-02', '1996-08-05', '1996-08-06',
       '1996-08-07', '1996-08-08', '1996-08-09', '1996-08-12',
       '1996-08-13', '1996-08-14', '1996-08-15', '1996-08-16',
       '1996-08-19', '1996-08-20', '1996-08-21', '1996-08-22',
       '1996-08-23', '1996-08-26', '1996-08-27', '1996-08-28',
       '1996-08-29', '1996-08-30', '1996-09-02', '1996-09-03',
       '1996-09-04', '1996-09-05', '1996-09-06', '1996-09-09',
       '1996-09-10', '1996-09-11', '1996-09-12', '1996-09-13',
       '1996-09-16', '1996-09-17', '1996-09-18', '1996-09-19',
       '1996-09-20', '1996-09-23', '1996-09-24', '1996-09-25',
       '1996-09-26', '1996-09-27', '1996-09-30', '1996-10-01',
       '1996-10-02', '1996-10-03', '1996-10-04', '1996-10-07',
       '1996-10-08', '1996-10-09', '1996-10-10', '1996-10-11',
       '1996-10-14', '1996-10-15', '1996-10-16', '1996-10-17',
       '1996-10-18', '1996-10-21', '1996-10-22', '1996-10-23',
       '1996-10-24', '1996-10-25', '1996-10-28', '1996-10-29',
       '1996-10-30', '1996-10-31', '1996-11-01', '1996-11-04',
       '1996-11-05', '1996-11-06', '1996-11-07', '1996-11-08',
       '1996-11-11', '1996-11-12', '1996-11-13', '1996-11-14',
       '1996-11-15', '1996-11-18', '1996-11-19', '1996-11-20',
       '1996-11-21', '1996-11-22', '1996-11-25', '1996-11-26',
       '1996-11-27', '1996-11-28', '1996-11-29', '1996-12-02',
       '1996-12-03', '1996-12-04', '1996-12-05', '1996-12-06',
       '1996-12-09', '1996-12-10', '1996-12-11', '1996-12-12',
       '1996-12-13', '1996-12-16', '1996-12-17', '1996-12-18',
       '1996-12-19', '1996-12-20', '1996-12-23', '1996-12-24',
       '1996-12-25', '1996-12-26', '1996-12-27', '1996-12-30',
       '1996-12-31', '1997-01-01', '1997-01-02', '1997-01-03',
       '1997-01-06', '1997-01-07', '1997-01-08', '1997-01-09',
       '1997-01-10', '1997-01-13', '1997-01-14', '1997-01-15',
       '1997-01-16', '1997-01-17', '1997-01-20', '1997-01-21',
       '1997-01-22', '1997-01-23', '1997-01-24', '1997-01-27',
       '1997-01-28', '1997-01-29', '1997-01-30', '1997-01-31',
       '1997-02-03', '1997-02-04', '1997-02-05', '1997-02-06',
       '1997-02-07', '1997-02-10', '1997-02-11', '1997-02-12'],
      dtype=object)

In [71]:
daily_order_count = pd.DataFrame([
    {
        "OrderDate" : OrderDate,
        "Count" : len(date_group.get_group(OrderDate))
    } for OrderDate in orders_df["OrderDate"].unique()
    
])
daily_order_count

     Count   OrderDate
0        1  1996-07-04
1        1  1996-07-05
2        2  1996-07-08
3        1  1996-07-09
4        1  1996-07-10
5        1  1996-07-11
6        1  1996-07-12
7        1  1996-07-15
8        1  1996-07-16
9        1  1996-07-17
10       1  1996-07-18
11       2  1996-07-19
12       1  1996-07-22
13       1  1996-07-23
14       1  1996-07-24
15       1  1996-07-25
16       1  1996-07-26
17       1  1996-07-29
18       1  1996-07-30
19       1  1996-07-31
20       2  1996-08-01
21       1  1996-08-02
22       1  1996-08-05
23       1  1996-08-06
24       1  1996-08-07
25       1  1996-08-08
26       1  1996-08-09
27       1  1996-08-12
28       1  1996-08-13
29       2  1996-08-14
..     ...         ...
130      1  1997-01-02
131      2  1997-01-03
132      1  1997-01-06
133      2  1997-01-07
134      1  1997-01-08
135      1  1997-01-09
136      2  1997-01-10
137      1  1997-01-13
138      2  1997-01-14
139      1  1997-01-15
140      2  1997-01-16
141      1  1997-01-17
142      1  1997-01-20
143      2  1997-01-21
144      1  1997-01-22
145      2  1997-01-23
146      1  1997-01-24
147      2  1997-01-27
148      1  1997-01-28
149      1  1997-01-29
150      2  1997-01-30
151      1  1997-01-31
152      2  1997-02-03
153      1  1997-02-04
154      2  1997-02-05
155      1  1997-02-06
156      1  1997-02-07
157      2  1997-02-10
158      1  1997-02-11
159      1  1997-02-12

[160 rows x 2 columns]

In [69]:
query = '''
SELECT OrderDate, count(*)
FROM
    Orders
    GROUP BY
        OrderDate;
'''
pd.read_sql(query, db)

      OrderDate  count(*)
0    1996-07-04         1
1    1996-07-05         1
2    1996-07-08         2
3    1996-07-09         1
4    1996-07-10         1
5    1996-07-11         1
6    1996-07-12         1
7    1996-07-15         1
8    1996-07-16         1
9    1996-07-17         1
10   1996-07-18         1
11   1996-07-19         2
12   1996-07-22         1
13   1996-07-23         1
14   1996-07-24         1
15   1996-07-25         1
16   1996-07-26         1
17   1996-07-29         1
18   1996-07-30         1
19   1996-07-31         1
20   1996-08-01         2
21   1996-08-02         1
22   1996-08-05         1
23   1996-08-06         1
24   1996-08-07         1
25   1996-08-08         1
26   1996-08-09         1
27   1996-08-12         1
28   1996-08-13         1
29   1996-08-14         2
..          ...       ...
130  1997-01-02         1
131  1997-01-03         2
132  1997-01-06         1
133  1997-01-07         2
134  1997-01-08         1
135  1997-01-09         1
136  1997-01-10         2
137  1997-01-13         1
138  1997-01-14         2
139  1997-01-15         1
140  1997-01-16         2
141  1997-01-17         1
142  1997-01-20         1
143  1997-01-21         2
144  1997-01-22         1
145  1997-01-23         2
146  1997-01-24         1
147  1997-01-27         2
148  1997-01-28         1
149  1997-01-29         1
150  1997-01-30         2
151  1997-01-31         1
152  1997-02-03         2
153  1997-02-04         1
154  1997-02-05         2
155  1997-02-06         1
156  1997-02-07         1
157  1997-02-10         2
158  1997-02-11         1
159  1997-02-12         1

[160 rows x 2 columns]